*.so
*.o
test/
src/generated/*.cpp
src/generated/*.h
*.pro.user*
*.desktop
*.tar.gz
*.tar.gz.md5
data/plugins/*.sh
package/*
Makefile
Doxyfile
build/
build_debug/
build-release/
build_clean/
bin/
docs/
misc/
/legacy
configured_directories.sh
push.sh
snapcraft.yaml
knotter_*.snap
src/library
build_verify
